.videoCard {
	display: flex;
	flex-direction: column-reverse;
	margin-top: 20px;
}

.videoCard__title {
	margin: 0;
}

.videoCard__container {
	width: 290px;
	height: 160px;
	position: relative;
	cursor: pointer;
}

.videoCard__container__image {
	position: absolute;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
}

.videoCard__container__play {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 35%;
	left: 43%;
	overflow: hidden;
	object-fit: cover;
	opacity: 60%;
}

@media all and (max-width: 767px) {
	.videoCard {
		width: 95vw;
        height: 240px;
		margin: auto;
		margin-top: 0;
	}

	.videoCard__container {
		width: 95vw;
        height: 240px;
	}
}

@media all and (max-width: 1023px) and (min-width: 768px) {
	.videoCard {
		width: 40vw;
		height: fit-content;
		margin-top: 0;
	}
}
